.switcher {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: unset;
    background-color: transparent;
    padding: 4px;
    padding-left: 0px;
}

.switcher_header {
    font-size: 16px;
    font-weight: bold;
    padding-left: 4px;
}

.switcher_hoverframe .hoverframetext {
    min-width: 250px;
}

.switcher_hoverframe .hoverframetext {
    padding-left: 5px;
    padding-right: 5px;
}