.backdrop_content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding: 8px;
}

.backdrop_content button {
    background-color: rgb(220, 220, 220);
    box-shadow: unset;
}

.backdrop_content_topbar {
    display: flex;
    flex-direction: column;
}

.backdrop_content_topbar_header {
    font-weight: bold;
}

.backdrop_content_topbar_description {
    font-size: 13px;
}